@yellow: #fffa19;

.margenes(@top, @bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    justify-content: space-between;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    color: black;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}


